.container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 0 10px 10px 10px;
  margin: 0 auto;
}

header {
  width: 90%;
  margin: 0 auto;
  background-color: lightsteelblue;
  margin-top: 20px;
  padding: 10px;
  color: white;
}
.mission,
.vission {
  width: 100%;
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}
.missvis {
  font-size: 15px;
}
.paragraph {
  font-size: 12px;
}
h2 {
  display: inline-block;
  border-radius: 5px;
  font-size: 15px;
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container,
  header {
    width: 80%;
  }
}

/* desktop */
@media only screen and (min-width: 992px) {
  .container {
    width: 60%;
  }
  header {
    width: 60%;
    font-size: 15px;
    margin-top: 50px;
  }
  .mission,
  .vission {
    width: 49%;
    padding: 10px;
    text-align: center;
  }
  .missvis {
    font-size: 20px;
  }
  .paragraph {
    font-size: 15px;
  }
  h2 {
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
  }
}
