* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  font-size: 10px;
  margin-top: 20px;
  color: white;
  background-color: lightsteelblue;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  background-color: whitesmoke;
  justify-content: space-between;
  margin-bottom: 10px;
}
.ship-name {
  width: 100%;
  margin-bottom: 20px;
  font-size: 10px;
  color: lightskyblue;
}
.class-a,
.class-b,
.class-c {
  width: 100%;
  text-align: center;
  font-size: 10px;
}
.class-c {
  padding: 0px 0px 10px 0px;
  background-color: white;
}
.figureclass-a,
.figureclass-b {
  width: 100%;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
}

.figureclass-c {
  width: 100%;
  padding: 10px;
  background-color: white;
  overflow: hidden;
}
.imgclass-a,
.imgclass-b,
.imgclass-c {
  width: 100%;
}

.imgclass-b:hover,
.imgclass-a:hover {
  opacity: 0.5;
}
.imgclass-c:hover {
  transform: scale(1.5);
  transition-delay: 0.1s;
  transition-duration: 0.7s;
}
.figc {
  text-align: left;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightskyblue;
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .class-b {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 1;
  }
  .figureclass-b {
    width: 49%;
  }

  .class-a,
  .class-c {
    width: 49%;
  }
  .figureclass-c,
  .figureclass-a {
    width: 100%;
  }
}
/* desktop */
@media only screen and (min-width: 992px) {
  header {
    font-size: 20px;
    margin-top: 50px;
  }
  .ship-name {
    font-size: 20px;
  }
  .gallery {
    justify-content: space-between;
  }
  .class-a {
    width: 61%;
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
  }
  .class-b {
    width: 37%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
  }
  .figureclass-b {
    padding: 15px 15px 10px 15px;
  }
  .class-c {
    width: 32%;
    font-size: 12px;
  }
}
