* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: lightsteelblue;
}
h2 {
  font-size: 12px;
}
.main-schedule {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.schedules {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  font-size: 1.7vw;
  padding: 10px;
}

.row1 {
  background-color: whitesmoke;
  border-bottom: 1px solid gray;
}

.time {
  width: 10%;
  /* background-color: violet; */
}
.origin {
  width: 20%;
  /* background-color: green; */
}
.destination {
  width: 25%;
  /* background-color: blue; */
}
.date,
.Shipping-line,
.price {
  width: calc(40% / 3);
  width: 15%;
}
.odd {
  border-bottom: 1px solid gray;
  background-color: whitesmoke;
}
.odd:hover {
  background-color: lightgray;
}
.even {
  border-bottom: 1px solid gray;
  background-color: whitesmoke;
}
.even:hover {
  background-color: lightgray;
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-schedule,
  header {
    width: 85%;
  }
  .row {
    font-size: 1.3vw;
  }
}
/* desktop */
@media only screen and (min-width: 992px) {
  .main-schedule,
  header {
    width: 80%;
  }
  header {
    margin-top: 50px;
  }
  h2 {
    font-size: 25px;
  }
  .row {
    font-size: 1vw;
  }
}
