* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 80%;
  margin: 0 auto;
  background-color: lightsteelblue;
  margin-top: 20px;
  padding: 10px;
  font-size: 10px;
  color: white;
}
.container {
  width: 80%;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 10px;
}
.row1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: whitesmoke;
}
.image-container {
  width: 49%;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
}
.ship-name {
  margin-bottom: 10px;
  font-size: 12px;
  color: lightskyblue;
}

.img-shipline {
  width: 100%;
  /* border: 1px solid red; */
}
.img-shipline:hover {
  transition-delay: 0.1s;
  transition-duration: 0.7s;
  transform: scale(0.99);
  opacity: 0.5;
}
.son {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
.img-son {
  width: 32.7%;
}
.img-son:hover {
  transform: scale(1.5);
  transition-delay: 0.1s;
  transition-duration: 0.7s;
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-container {
    width: 32.5%;
  }
  .first-49,
  .second-49 {
    width: 49%;
  }
  .img-shipline,
  .ship-name {
    width: 100%;
    /* border: 1px solid red; */
  }
}
/* desktop */
@media only screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
  header {
    font-size: 15px;
    margin-top: 50px;
  }
  .ship-name {
    font-size: 20px;
  }
  .image-container {
    width: 32.5%;
    /* width: calc(100% / 3); */
  }
  .first-49,
  .second-49 {
    width: 49%;
  }
  .img-shipline {
    width: 100%;
  }
}
