.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: white;
}
.nav-container {
  padding: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(131, 171, 245);
}
.account {
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  margin-top: 21px;
  text-align: center;
  border-radius: 50%;
  color: gray;
  border: 1px solid lightgray;
  background-color: darkgray;
}
.main-nav {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.buddyz {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  color: black;
  box-shadow: 0px 2px 5px white;
  padding: 15px;
  cursor: pointer;
}
.buddyz-text {
  margin-right: 10px;
  border-top: 3px solid white;
  font-size: 4vw;
}
.travel-text {
  color: white;
  font-weight: bolder;
  font-size: 4vw;
}
.bars {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  color: gray;
  border: 1px solid lightgray;
}
.more {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  width: 100%;
  padding: 5px;
  line-height: 40px;
  font-size: 12px;
  /* border: 1px solid black; */
}
.morechild {
  width: 100%;
}
.hovered:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.main-home {
  position: relative;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 50px;
}
.red {
  background-color: lightsteelblue;
  width: 85%;
  order: -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 2px;
  color: white;
  font-size: 2.5vw;
}
.todays-heading {
  width: 100%;
  margin-bottom: 2px;
}

.todays-travel {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  padding: 2px;
  text-align: center;
}

.img-ship,
.todays-fig {
  width: 100%;
}

.blue {
  width: 85%;
  margin: 0 auto;
}
.book {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: right;
}
.book-button {
  padding: 10px;
  font-weight: bolder;
  font-size: 3vw;
  border-radius: 10px;
  color: white;
  background-color: rgb(131, 171, 245);
  border: 1px solid lightgray;
  cursor: pointer;
}
.book-button:hover {
  color: lightgray;
  box-shadow: 0px 1px 10px blue;
}
.main-footer {
  width: 100%;
}
.footer-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  background-color: lightgray;
}
#p-alrights {
  font-size: 12px;
  margin-bottom: 10px;
}
.fb {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  background-color: darkblue;
  color: white;
}
.fb-text {
  font-size: 30px;
  font-weight: bold;
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav-container {
    justify-content: space-between;
    align-items: flex-start;
  }
  .account {
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    margin-top: 23px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid lightgray;
    background-color: darkgray;
  }
  .main-nav {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: lightgreen; */
  }
  .bars {
    width: 50px;
    height: 40px;
    line-height: 40px;
    padding: 0px;
    /* font-size: 25px; */
    border-radius: 5px;
    text-align: center;
  }
  .buddyz {
    width: 45%;
  }
  .morechild {
    width: 50%;
  }
  .more {
    justify-content: flex-start;
    text-align: left;
  }
  .red {
    font-size: 1.5vw;
  }
  .todays-travel {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    justify-content: space-between;
  }
  .img-ship {
    width: 35%;
  }

  .todays-fig {
    width: 64%;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }

  .visit,
  .title,
  .contact {
    width: 30%;
    font-size: 1.5vw;
  }
  .book-button {
    font-size: 1.7vw;
  }
}
/* desktop */
@media only screen and (min-width: 992px) {
  .main-home {
    min-height: 90vh;
  }
  .nav-container {
    justify-content: space-between;
    align-items: center;
  }
  .account {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid lightgray;
    background-color: darkgray;
  }
  .main-nav {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: lightgreen; */
  }
  .buddyz {
    width: 25%;
    /* border: 1px solid black; */
  }
  .buddyz-text {
    margin-right: 10px;
    /* border-top: 3px solid rgb(255, 81, 0); */
    font-size: 2vw;
    color: black;
  }
  .travel-text {
    /* color: rgb(255, 81, 0); */
    font-weight: bolder;
    font-size: 2vw;
  }
  .bars {
    position: absolute;
    display: none;
  }
  .morechild {
    width: 18%;
    /* border: 1px solid black; */
  }
  .schedule,
  .about {
    width: 12%;
    /* border: 1px solid black; */
  }

  .more {
    width: 75%;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 15px;
  }

  /* for main body*/
  .main-home {
    display: block;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .red {
    width: 20%;
    float: left;
    background-color: white;
    font-size: 1vw;
    color: black;
  }

  .todays-heading {
    margin-bottom: 10px;
  }

  .blue {
    width: 79%;
    border-left: 3px solid lightgray;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    float: right;

    padding-left: 20px;
  }
  .book {
    width: 20%;
    float: left;
    clear: left;
    text-align: center;
  }
  .book-button {
    font-size: 1.5vw;
  }

  .todays-travel {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid lightgrey;
  }
  .img-ship {
    width: 30%;
    /* border: 1px solid black; */
  }
  .todays-fig {
    width: 65%;
    text-align: left;
    /* border: 1px solid black; */
  }

  /* .visit, 
  .title,
  .contact {
    width: 33.3%;
    font-size: 1.2vw;
  }*/
}
